.user {
  &__block {
    margin-top: 10px;
  }

  &__title {
    font-size: 17px;
    background: $color-agate;
    color: #fff;
    padding: 5px;
    padding-left: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }


  &-box {
    &__list {
      display: flex;
      flex-direction: column;
    }


    &__main {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
          }

    &__wrapper {
      flex-basis: 25%;
    }

    &__info {
      flex-basis: 71%;
    }

    &__img {
      box-sizing: border-box;
      display: block;
      width: 100%;
      cursor: pointer;
      border: 5px double #eee;
    }


    &__text {
      font-size: 13px;
      &:first-child{
        margin-bottom: 10px;
      }
    }
    a{
      color: $color-blue;
    }
  }



}