.user__block{
  width: 400px;
}

.tab-list {
  display: flex;
  justify-content: space-evenly;
 
 
}
.tab-item{
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background: lightcoral;
  padding: 10px 15px;
  border-radius: 50%;
 
}

.user-box__list{
  display: flex;
  flex-direction: column;
}

.user-box__item{
  flex-basis: 100%;
  padding: 20px;
}
