* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.wrapper {
  background: #ebebeb;
  max-width: 1488px;
  min-width: 320px;
  margin: 0 auto;
}

.container {
  max-width: 1060px;
  margin-left: 14.8%;
  margin-right: 13.8%;
  padding: 32px;
  box-sizing: border-box;
  background: #fff;
}

.main{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  &__block:first-child{
    flex-basis: 65%;
  }
  &__block:last-child{
    flex-basis: 33%;
  }
}
